.graph-div {
    display:block;
    width:400px;
    height:400px;
}

.description-div {
    display:block;
    width:100px;
    height:50px;
}

.description-text {
  margin-top:10%;
  font-size: 10px;
  font-family: Arial;
  text-align: left;
}