{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block section %}

	<div id="celebrity-row" class="section">
        <div class="container" data-animation-effect="fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class=media">
                        <p>Nous sommes désolés, nous n'avons pas trouvé la page que avez demandée</p>
                    </div>
                </div>
            </div>

        </div>

	</div>

{% endblock %}
