footer {
  text-align: center;
  padding: 3px;
  bottom:0;
}

.align-selection-group {
      display: flex;
      flex: auto 0 0;
      flex-flow: row wrap;
      align-items: last baseline;
      vertical-align: bottom;
    }
.align-flex-end-selection-group {
      display: flex;
      flex: auto 0 0;
      flex-flow: row wrap;
      align-items: flex-end;
      vertical-align: center;
    }

/*.form-inline .form-group {
  vertical-align:bottom;
}*/

/* begin override bootstrap */
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  line-height: 1.42857143;
}
input[type="date"].input-sm,
input[type="time"].input-sm,
input[type="datetime-local"].input-sm,
input[type="month"].input-sm {x;
  line-height: 1.5;
}
input[type="date"].input-lg,
input[type="time"].input-lg,
input[type="datetime-local"].input-lg,
input[type="month"].input-lg {
  line-height: 1.33;
}
/* end override bootstrap */

.loader img {
    width: 50px;
    height: 50px;
}
#map-world {
  /* margin: auto; */
  float: left;
      display: inline-block;
}
#legendbox {
  float: left;
  display: block;
  /* margin-top: 50px; */
}
#legend {
  /* margin-top: 50px; */
}
.theme-wheel-title {
  font-size:12px;
}
.patch {
  stroke-opacity: .5;
  opacity:0.5;
}
.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}
.country {
  opacity:.1;
}
/* .country:hover {
  opacity:0.5;
} */
.box {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
  border-radius: 6px;
  display: none;
  padding: 10px;
  display: block;
  color: black;
  position: relative;
  float: right;
  min-width: 250px;
}

.black-text-color {
  color: black;
}

.no-margin {
  margin-left: 0px;
  margin-right: 0px;
}

.no-padding {
  padding-right: 0px;
  padding-left: 0px;
}

.nav-a-transcend {
	font-size: 16px;
}

.transcend-margin-top {
  margin-top: 20px;
}
















.select-date-div {
    margin-top:20%;
}

.select-date-label {
    font-size: 12px;
    margin-top:20%;
}

.select-date {
    background-color: #888888;
    display: block;
    font-size: 12px;
    cursor: pointer;
    color:black;
}
.rg{
    background-color: #555555;
    width: 100px;
    height:15px;
    border-radius: 15px;
    border: none;
    display: block;
    font-size: 14px;
    cursor: pointer;
    padding:0pt 0pt 5pt 5pt;
    margin-top: 5%;
    color:black;
}
/*
.rg:active {
 background-color: #000000;
} */

.info_legend {
  padding: 5px;
}

.info_legend .legend-title {
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 90%;
}
.info_legend .legend-scale ul {
  margin: 0;
  /*   margin-bottom: 5px; */
  padding: 0;
  float: left;
  list-style: none;
}
.info_legend .legend-scale ul li {
  font-size: 70%;
  list-style: none;
  margin-left: 0;
  line-height: 18px;
  /*   margin-bottom: 2px; */
}
.info_legend ul.legend-labels li span {
  display: block;
  float: left;
  height: 16px;
  width: 30px;
  margin-right: 5px;
  margin-left: 0;
  border: 1px solid #999;
}

.info_tooltip {
  float: left;
  list-style: none;
}

.tooltip-table {
  margin: 0px auto;
  opacity: 0.75;
}
