{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block section %}

	<div id="section" class="section">

        {% block celebrities %}
        <div class="container" data-animation-effect="fadeIn">
            <div class="row align-selection-group">
                <div class="col-md-5">
                    {% if celebrities %}
                        <script>
                            var celebrities = {{ celebrities | safe }}
                        </script>
                        <form method="get" class="form-inline" onsubmit="get_celebrity_transit(this);">
                            <label for="id_celebrity"><b>Nos thèmes</b></label>
                            <input
                                    type="text"
                                    class="form-control"
                                    id="id_celebrity"
                                    placeholder="Ex : Emmanuel Macron"
                                    name="celebrity"
                                    required>

                            <input type="hidden" id="id_selected_theme">
                            <input
                                type="submit"
                                value="AFFICHER"
                                name="afficher">

                        </form>
                    {% else %}
                        <script>
                            var celebrities = null
                        </script>
                        <p>Il n'y a encore aucun thème enregistré en base de données</p>
                    {% endif %}
                </div>

            </div>

        </div>

        {% endblock %}

	</div>

{% endblock %}




{% block extra_js %}

	<script type="text/javascript" src="{% static 'theme/js/celebrities.js' %}"></script>

	<script>
	    function get_celebrity_transit(form) {
	       var theme_id = document.getElementById("id_selected_theme").value
	       form.action= theme_id + "/"
	    }

	    if (celebrities) {

            find_celebrity(
                document.getElementById("id_celebrity"),
                document.getElementById("id_selected_theme"),
                celebrities);

	    }

	</script>

{% endblock extra_js %}